# Node & dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-error.log*
.eslintcache

# Production & Build outputs
dist
dist-ssr
*.local
report.html

# Git & CI/CD
.git
.github
.husky

# IDE & Editor configs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Docker / Temporary files
Dockerfile*
docker-compose*.yml
.dockerignore
README*.md
CHANGELOG*.md
